<title>我的消息</title>
<block name="include"><include file="default:Public/header" /></block>
<link rel="stylesheet" href="/wltfagent/Public/home/css/news.css">
<body>
<div id="header">
    <span class="header-title">我的消息</span>
    <a href="{:U('home/index/index')}" class="fl-left">&lt;</a>
</div>
<div class="main-index">
    <!--<a href="javascript:;" onclick="mobileBoxMsg('暂未开放中心消息功能，敬请期待！')"><div class="index-nav">-->
        <!--<img class="left-icon" src="/wltfagent/Public/home/images/1_013.png">-->
        <!--<span>-->
            <!--<p class="nav-title">中心消息</p>-->
            <!--<p class="nav-remark">点击查看消息，时刻关注中心状态</p>-->
        <!--</span>-->
        <!--<img class="right-icon" src="/wltfagent/Public/home/images/1_06.png">-->
    <!--</div></a>-->
    <a href="{:U('home/information/systemNews')}"><div class="index-nav">
        <img class="left-icon" src="/wltfagent/Public/home/images/1_016.png">
        <span>
            <p class="nav-title">系统通知</p>
            <p class="nav-remark">点此查看系统消息、会员升级提醒！</p>
        </span>
        <img class="right-icon" src="/wltfagent/Public/home/images/1_06.png">
    </div></a>
</div>
</body>
</html>