 <!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>拼图后台管理-后台管理</title>
    <link rel="stylesheet" href="/wltfagent/public/admin/css/pintuer.css">
    <link rel="stylesheet" href="/wltfagent/public/admin/css/homepage.css">
    <!--<link rel="stylesheet" href="/wltfagent/public/admin/css/admin.css">-->
    <script src="/wltfagent/public/admin/js/jquery.js"></script>
    <script src="/wltfagent/public/admin/js/pintuer.js"></script>
    <script src="/wltfagent/public/admin/js/respond.js"></script>
    <script src="/wltfagent/public/admin/js/admin.js"></script>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="bookmark icon" />
</head>

<body>
    	<div class="xm3">
        	<div class="panel border-back">
            	<div class="panel-body text-center">
                	<img src="/wltfagent/public/admin/images/login.png" width="120" class="radius-circle" /><br />
                    admin
                </div>
                <div class="panel-foot bg-back border-back">您好，代理管理员，上次登录为2014-10-1。</div>
            </div>
            <br />
        	<div class="panel">
            	<div class="panel-head"><strong>代理统计</strong></div>
                <ul class="list-group">
                	<li><span class="float-right badge bg-red">88</span><span class="icon-user"></span> 总代理数</li>
                    <li><span class="float-right badge bg-blue">3</span><span class="icon-file"></span> 昨日新增代理</li>
                    <li><span class="float-right badge bg-blue">2</span><span class="icon-shopping-cart"></span> 今日新增代理</li>
                    <li><span class="float-right badge bg-blue">828</span><span class="icon-database"></span> 其他数据</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
        	<div class="alert alert-yellow"><span class="close"></span><strong>注意：</strong>您有5条未读信息，<a href="#">点击查看</a>。</div>
            <div class="alert">
                <h4>说明文本</h4>
                <p class="text-gray padding-top">此处可增加部分说明文本。</p>
            	<a id="text1" target="_blank" class="button bg-dot icon-code" href="javascript:;"> 文本1</a>
                <div id="text1div">div1</div>
            	<a id="text2" target="_blank" class="button bg-blue icon-download" href="javascript:;"> 文本2</a>
                <div id="text2div">div2</div>
            	<a id="text3" target="_blank" class="button border-blue icon-file" href="javascript:;"> 文本3</a>
                <div id="text3div">div3</div>
            </div>
            <div class="panel">
            	<div class="panel-head"><strong>代理信息</strong></div>
                <table class="table">
                	<tr><th colspan="2">各项资金统计</th><th colspan="2">其他信息</th></tr>
                    <tr><td width="110" align="right">资金1：</td><td>100000</td><td width="90" align="right">信息1：</td><td>。。。</td></tr>
                    <tr><td align="right">资金2：</td><td>1000000</td><td align="right">信息2：</td><td>。。。</td></tr>
                    <tr><td align="right">资金3：</td><td>10000</td><td align="right">信息3：</td><td>。。。</td></tr>
                    <tr><td align="right">资金4：</td><td>10000</td><td align="right">群交流：</td><td><a href="http://shang.qq.com/wpa/qunwpa?idkey=a08e4d729d15d32cec493212f7672a6a312c7e59884a959c47ae7a846c3fadc1" target="_blank">201916085</a> (点击加入)</td></tr>
                </table>
            </div>
        </div>
    </div>
    <br />
</div>
</body>
</html>