<div class="foot-size"></div>
<!--<link rel="stylesheet" href="/wltfagent/Public/home/css/home.css">-->
<div class="foot">
    <a href="{:U('home/index/index')}">
        <div class="foot-left">
            <p><img src="/wltfagent/Public/home/images/1_31.png"></p>
            <p>我的</p>
        </div>
    </a>
    <a href="{:U('home/RabbitBao/index')}">
        <div class="foot-center">
            <!--<span class="span_top"></span>-->
            <span class="span_bottom"></span>
        </div>
    </a>
    <a href="{:U('home/support/index')}">
        <div class="foot-right">
            <p><img src="/wltfagent/Public/home/images/1_34.png"></p>
            <p>支持</p>
        </div>
    </a>
</div>