<block name="include"><include file="default:Public/header" /></block>
<link rel="stylesheet" href="/wltfagent/Public/home/css/index.css">
<body>
<div class="wrap">
    <!-- 基本信息 -->
    <div class="user-info">
        <h1 class="text-c">基本信息</h1>
        <div class="user-bg">
            <a href="{:U('home/index/myInfo')}"><img src="/wltfagent/Public/home/images/1_05.png">
            <p class="text-c"><span>{$user_message.real_name}</span><span class="zw">{$user_message.rank_name}</span></p>
            </a>
        </div>
        <!-- 业绩统计 -->
        <div class="count ft12">
            <div class="count-box1">
                <a href="/wltfagent/index.php/home/index/myTeam.html">
                    <p class="count-num">300000.00</p>
                    <p>业绩统计</p>
                </a>
            </div>
            <div class="count-box2">
                <a href="/wltfagent/index.php/home/support/myTeam.html">
                    <p class="count-num">3</p>
                    <p>贸易伙伴</p>
                </a>
            </div>
            <div class="count-box3">
                <a href="javascript:void(0);" onclick="mobileBoxMsg('游戏暂未开放，敬请期待')">
                    <p class="count-num">0</p>
                    <p>合作企业</p>
                </a>
            </div>
        </div>
        <!-- 级别 -->
        <div class="user-bg1 ft12 clearfix">
            <div class="clearfix fl-left">
                <div class="fl-right">
                    <a href="/wltfagent/index.php/home/index/rank.html">
                        <img src="/wltfagent/Public/home/images/1_11.png" class="fl-left" />
                        <div class="fl-left ml10">
                            <b class="ft16">级别：{$user_message.rank}</b>
                            <p class="orange mt5">级别越高，福利越多</p>
                        </div>
                    </a>
                </div>
            </div>
            <p class="fl-left"></p>
            <div class="clearfix fl-left">
                <a href="/wltfagent/index.php/home/index/rankingList.html">
                    <img src="/wltfagent/Public/home/images/1_14.png" class="fl-left" />
                    <div class="fl-left ml10">
                        <b class="ft16">机构列表</b>
                        <p class="blue mt5">排行越高，荣誉越高</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!-- 查看状态 -->
    <div class="user-status mt20 ft18">
        <ul>
            <li class="bor">
                <a href="/wltfagent/index.php/home/wallet/index/code/1.html"><img class="img-money mr10" src="/wltfagent/Public/home/images/1_19.png">钱包<span class="img-arrow fl-right">&gt;</span></a>
            </li>
            <li>
                <a href="/wltfagent/index.php/home/information/index.html"><img class="img-money mr10" src="/wltfagent/Public/home/images/1_22.png">消息中心<span class="img-arrow fl-right">&gt;</span></a>
            </li>
            <!--<li class="mt20 bor">
                <a href="/wltfagent/index.php/home/task/taskList.html"><img class="img-money mr10" src="/wltfagent/Public/home/images/1_24.png">我的任务<span class="img-arrow fl-right">&gt;</span></a>
            </li>
            <li>
                <a href="#"><img class="img-money mr10" src="/wltfagent/Public/home/images/1_26.png">分享有奖<span class="img-arrow fl-right">&gt;</span></a>
            </li>-->
            <li class="mt20">
                <a href="/wltfagent/index.php/home/set/setList.html"><img class="img-money mr10" src="/wltfagent/Public/home/images/1_28.png">设置<span class="img-arrow fl-right">&gt;</span></a>
            </li>
        </ul>
    </div>
</div>
<block name="include"><include file="default:Public/main-footer" /></block>
<!--
<div class="header"><strong>基本信息</strong></div>
<div class="header-person">
    <div class="person-img"><img src="/wltfagent/Public/home/images/1_05.png"></div>
    <div class="person-name">
        <p class="user-name">{$user_message.real_name}
            <if condition="$user_message['is_service'] eq 1">
                <if condition="$user_message['rank_id'] eq 1">
                    <span style="background: red;">省办事处</span>
                    <else/>
                    <span style="background: green;">市办事处</span>
                </if>
            </if>
        </p>
        &lt;!&ndash;<p class="user-id">ID：{$user_message.id}</p>&ndash;&gt;
    </div>
    <div class="person-info">
        <a href="{:U('home/index/myInfo')}">个人信息<img class="img-icon" src="/wltfagent/Public/home/images/1_06.png"></a>
    </div>
</div>
<div class="part-info">
    <div class="achievement-info">
        <if condition="$user_message['id'] lt 4 ">
            <a href="{:U('home/index/myTeam')}">
                <p class="num">{$allAchievement}</p>
                <p class="name">业绩统计</p>
            </a>
            <else/>
            <if condition="$user_message['is_service'] eq 1">
                <a href="javascript:;">
                    <p class="num">{$user_message.achievement}</p>
                    <p class="name">业绩统计</p>
                </a>
                <else/>
                <a href="javascript:;" class="achievement">
                    <p class="num">{$user_message.all_achievement}</p>
                    <p class="name">业绩统计</p>
                </a>
            </if>
        </if>
        <script>
            $(".achievement").click(function () {
                var achievent = 300000 - $('.num').html();
                if (achievent > 0){
                    layer.open({
                        content: '您距离体验中心还差' + achievent + '业绩',
                        btn: ['我知道了'],
                        yes:function () {
                            location.reload(true);
                        }
                    });
                }
            })
        </script>
    </div>
    &lt;!&ndash;<table class="line" cellpadding="0" cellspacing="0"></table>&ndash;&gt;
    <hr class="line"/>
    <div class="partner-info">
        <a href="{:U('home/support/myTeam')}">
            <p class="num">{$user_message.number}</p>
            <p class="name">合作伙伴</p>
        </a>
    </div>
    <hr class="line">
    <div class="play">
        <a href="javascript:;" onclick="mobileBoxMsg('游戏暂未开放，敬请期待')">
            <p class="num">0</p>
            <p class="name">对接企业</p>
        </a>
    </div>
</div>
<div class="part-class">
    <div class="rank">
        <a href="{:U('home/index/rank')}">
            <img class="rank-img1" src="/wltfagent/Public/home/images/1_11.png">
            <span>
                    <p class="rank-name">级别：{$user_message.rank_name}</p>
                    <p class="rank-remark">级别越高,福利越多</p>
                </span>
        </a>
    </div>
    <hr class="line"/>
    <div class="rank">
        <a href="{:U('home/index/rankingList')}">
            <img class="rank-img2" src="/wltfagent/Public/home/images/1_14.png">
            <span>
                    <p class="rank-name">排行：{$user_message.ranking}</p>
                    <p class="rank-remarks">排行越高,荣誉越高</p>
                </span>
        </a>
    </div>
</div>
<div class="part-pay">
    <a href="{:U('home/wallet/index?code=1')}"><div class="nav-sort"><img src="/wltfagent/Public/home/images/1_19.png">钱包<img class="img-icon1" src="/wltfagent/Public/home/images/1_06.png"></div></a>
    <a href="{:U('home/information/index')}"><div class="nav-ad"><img src="/wltfagent/Public/home/images/1_22.png">消息中心<img class="img-icon1" src="/wltfagent/Public/home/images/1_06.png"></div></a>
</div>
<div class="activity">
    <a href="{:U('home/task/taskList')}"><div class="nav-sort"><img src="/wltfagent/Public/home/images/1_24.png">我的任务<img class="img-icon1" src="/wltfagent/Public/home/images/1_06.png"></div></a>
    <a href="#"><div class="nav-ad share"><img src="/wltfagent/Public/home/images/1_26.png">分享有奖<img class="img-icon1" src="/wltfagent/Public/home/images/1_06.png"></div></a>
</div>
<div class="set">
    <a href="{:U('home/set/setList')}"><div class="nav-ad"><img src="/wltfagent/Public/home/images/1_28.png">设置<img class="img-icon1" src="/wltfagent/Public/home/images/1_06.png"></div></a>
</div>
<script>
    $('.share').on('click', function () {
        //自定义标题风格
        layer.open({
            content: '<img src="/wltfagent/Public/home/images/2_103.png" style="width: 100%;height: 100%"/>',
            style: 'background-color:#fff; color:#fff; border:none;height:60%;width:80%;border-radius:10px;' //自定风格
        });

    });
</script>-->
