<include file="./Application/admin/View/default/Public/homeheader.html" />

<div class="panel">
    <div class="panel-head"><strong><h3>查看消息</h3></strong></div>
    <div class="table-responsive table-bordered" style="height: 30px;line-height: 26px;font-size: 16px;border-bottom: 1px solid #ddd;">
        <div style="float: left;margin-left: 30px;"><strong>{$de.title}</strong></div>
        <div style="width: 100px;float: right;"><a href="{:U('admin/Notice/innerMail')}" style="color: #00a2d4">返回信息列表</a></div>
    </div>
    <div style="height: 400px;margin: 3% 20%;font-size: 16px;">
        <p>
            <div style="float: left;">
                <span>收件人：</span>
                <span>{$de.rec_name}</span>
            </div>
            <div style="float: right;">
            <span>发件人：</span>
            <span>{$de.send_name}</span>
            </div>
        </p><br/><br/>
        <p>
            <span>发送时间　：</span>
            <span>{$de.post_time|date="Y-m-d H:i:s",###}</span>
        </p><br/>
        <p>
            <span>内容　：</span>
            <div style="border: 1px solid #ddd;height: 100px;">{$de.message}</div>
        </p><br/>
    </div>
</div>