<block name="include"><include file="default:Public/header" /></block>
<link rel="stylesheet" href="/wltfagent/Public/home/css/wallet.css">
<script src="/wltfagent/Public/home/js/wallet.js"></script>
<body>
<div id="header">
    <a href="javascript:;" onClick="back();return false;">
        <img class="back" src="/wltfagent/Public/home/images/left.png">
    </a>
    积分明细
</div>
<div class="detailBanner">
    <div id="income" class="action">
        <p>收入</p>
    </div>
    <div id="expend">
        <p>支出</p>
    </div>
</div>
<div class="detailBody">
    <div class="expend hidden">
        <div class="selectTime">
            <p class="name">账单月份</p>
            <div class="time">
                <input class="" type="month" value="">
            </div>
        </div>
        <div class="totalMoney">
            <p class="money">
                {$expend.points}
            </p>
            <p class="explain">
                本月支出
            </p>
        </div>
        <div class="news">
            本月支出{$expend.count}笔
        </div>
        <div class="specific">
            <ul>
                <volist name="expend.flow" id="vo">
                    <li>
                        <div class="left">
                            <p class="explain">{$vo.remarks}</p>
                            <p class="time">{$vo.create_time|date="Y-m-d",###}</p>
                        </div>
                        <div class="right">
                            <p class="money">{$vo.points}</p>
                            <img class="right" src="/wltfagent/Public/home/images/right.png">
                        </div>
                    </li>
                    <!--<a href="{:U('home/wallet/singleDetailed?type=2&flow_id='.$vo['id'])}">-->
                        <!--<li>-->
                            <!--<div class="left">-->
                                <!--<p class="explain">{$vo.remarks}</p>-->
                                <!--<p class="time">{$vo.create_time|date="Y-m-d",###}</p>-->
                            <!--</div>-->
                            <!--<div class="right">-->
                                <!--<p class="money">{$vo.points}</p>-->
                                <!--<img class="right" src="/wltfagent/Public/home/images/right.png">-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</a>-->
                </volist>
            </ul>
        </div>
    </div>
    <div class="income hidden" style="display: none">
        <div class="selectTime">
            <p class="name">账单月份</p>
            <div class="time">
                <!--<img class="right" src="/wltfagent/Public/home/images/right.png">-->
                <input class="" type="month" value="">
            </div>
        </div>
        <div class="totalMoney">
            <p class="money">
                +{$income.points}元
            </p>
            <p class="explain">
                本月收入
            </p>
        </div>
        <div class="news">
            本月收入{$income.count}笔
        </div>
        <div class="specific">
            <ul>
                <volist name="income.flow" id="vo">
                    <li>
                        <div class="left">
                            <p class="explain">{$vo.remarks}</p>
                            <p class="time">{$vo.create_time|date="Y-m-d",###}</p>
                        </div>
                        <div class="right">
                            <p class="money">{$vo.points}</p>
                            <img class="right" src="/wltfagent/Public/home/images/right.png">
                        </div>
                    </li>
                    <!--<a href="{:U('home/wallet/singleDetailed?type=2&flow_id='.$vo['id'])}">-->
                        <!--<li>-->
                            <!--<div class="left">-->
                                <!--<p class="explain">{$vo.remarks}</p>-->
                                <!--<p class="time">{$vo.create_time|date="Y-m-d",###}</p>-->
                            <!--</div>-->
                            <!--<div class="right">-->
                                <!--<p class="money">{$vo.points}</p>-->
                                <!--<img class="right" src="/wltfagent/Public/home/images/right.png">-->
                            <!--</div>-->
                        <!--</li>-->
                    <!--</a>-->
                </volist>
            </ul>
        </div>
    </div>
</div>
<script>
    $(".choiceTime").change(function () {
        $.ajax({
            type:"post",
            url : "{:U('home/wallet/pointsDetail')}",
            data:{"time":$(this).val(),"state":$(this).attr("state")},
            dataType:"json",
            success:function (data) {
                if (data.type == "expend"){
                    $(".expend .specific ul").html("");
                    $(".expend .totalMoney .money").html(data.points);
                    $(".expend .totalMoney .news").html("本月支出" + data.count + "笔");
                    for(var i = 0;i < data.flow.flow.length;i++){
                        var url = "{:U('home/wallet/singleDetailed/type/2/flow_id/" + data.flow.flow[i].id +"')}";
                        $(".expend .specific ul").append(
//                                "<a href='" + url + "'>" +
                                "<li>" +
                                "<div class='left'>" +
                                "<p class='explain'>" + data.flow.flow[i].remarks + "</p>" +
                                "<p class='time'>" + data.flow.flow[i].time + "</p>" +
                                "</div>" +
                                "<div class='right'>" +
                                "<p class='money'>" + data.flow.flow[i].points + "</p>" +
                                "<img class='right' src='/wltfagent/Public/home/images/right.png'>" +
                                "</div>" +
                                "</li>"
//                                "</a>"
                        );
                    }
                }else{
                    $(".income .specific ul").html("");
                    $(".income .totalMoney .money").html("+" + data.points);
                    $(".income .totalMoney .news").html("本月收入" + data.count + "笔");
                    for(var i = 0;i < data.flow.flow.length;i++){
                        var url = "{:U('home/wallet/singleDetailed/type/2/flow_id/" + data.flow.flow[i].id +"')}";
                        $(".income .specific ul").append(
//                                "<a href='" + url + "'>" +
                                "<li>" +
                                "<div class='left'>" +
                                "<p class='explain'>" + data.flow.flow[i].remarks + "</p>" +
                                "<p class='time'>" + data.flow.flow[i].time + "</p>" +
                                "</div>" +
                                "<div class='right'>" +
                                "<p class='money'>+" + data.flow.flow[i].points + "</p>" +
                                "<img class='right' src='/wltfagent/Public/home/images/right.png'>" +
                                "</div>" +
                                "</li>"
//                                "</a>"
                        );
                    }
                }
            }
        })
</script>
</body>