<block name="include"><include file="default:Public/header" /></block>
<link rel="stylesheet" href="/wltfagent/Public/home/css/task.css">
<body>
<div id="header">
    <span class="header-title">任务</span>
    <a href="{:U('home/index/index')}" class="fl-left">&lt;</a>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">系统任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[分享玩家]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">系统任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[分享玩家首充]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">系统任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[自我充值]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">额外任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[分享加盟商]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">额外任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[分享玩家成为会员]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">额外任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[分享加盟成为体验中心]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
<div class="task-list">
    <div class="task-left">
        <span class="task-type">额外任务</span>
        <div class="task-complete"><span class="complete-right">100%</span></div>
    </div>
    <div class="task-centre">
        <div class="task-title">[所属业绩达到指标]</div>
        <div class="task-time">2017-02-21</div>
        <button class="button">领取</button>
    </div>
    <div class="task-right">
        <div class="task-operate">暂无任务</div>
    </div>
</div>
</body>
</html>
<script>
    $(function () {
        $(".button").click(function () {
            layer.open({
                content: '暂未可领取任务！'
                ,skin: 'msg'
                ,time: 2 //2秒后自动关闭
            })
        })
    })
</script>