<block name="include"><include file="default:Public/header" /></block>
<link rel="stylesheet" href="/wltfagent/Public/home/css/RabbitBao.css">
<link rel="stylesheet" href="/wltfagent/Public/home/css/task.css">
<script src="/wltfagent/Public/home/js/RabbitBao.js"></script>
<script src="/wltfagent/Public/admin/js/echarts.js"></script>
<script src="/wltfagent/Public/admin/js/china.js"></script>
</head>
<body>
<div id="header">
    <a href="javascript:;" onclick="back()" class="fl-left">&lt;</a>
    金额变动消息
</div>
<div>
    <volist name="flow" id="vo">
        <div class="panel">
            <div class="head"></div>
            <div class="body">
                <p class="title">金额变动通知</p>
                <p class="time">{$vo.create_time|date="m",###}月{$vo.create_time|date="d",###}日 </p>
                <p class="content">{$vo.remarks}</p>
                <p class="money">本次收入：{$vo.money}</p>
            </div>
        </div>
    </volist>
</div>
</body>