<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>尚惠生活代理后台管理-管理员登录</title>
    <link rel="stylesheet" href="/wltfagent/public/admin/css/pintuer.css">
    <link rel="stylesheet" href="/wltfagent/public/admin/css/admin.css">
    <script src="/wltfagent/public/admin/js/jquery.js"></script>
    <script src="/wltfagent/public/admin/js/pintuer.js"></script>
    <script src="/wltfagent/public/admin/js/respond.js"></script>
    <script src="/wltfagent/public/admin/js/admin.js"></script>
    <link type="image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="/favicon.ico" rel="bookmark icon" />
</head>

<body style="background-image: url(/wltfagent/public/admin/images/bg6.jpg);background-size:100% ">
<div class="container">
    <div class="line" >
        <div class="xs6 xm4 xs3-move xm4-move" >
            <br /><br />
            <div class="media media-y">
                <a href="#" target="_blank"><img src="/wltfagent/public/admin/images/login.png" class="radius" alt="后台管理系统" /></a>
            </div>
            <br /><br />
            <form action="{:U('admin/login/adminlogin')}" method="post">
            <div class="panel"  style="background-color:rgba(255,255,255,0.5)">
                <div class="panel-head" style="background-color:rgba(255,255,255,0.2)"><strong>尚惠生活代理后台管理系统-管理员登录</strong></div>
                <div class="panel-body" style="padding:30px;">
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="text" class="input" name="admin" placeholder="登录账号" data-validate="required:请填写账号,length#>=5:账号长度不符合要求" />
                            <span class="icon icon-user"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field field-icon-right">
                            <input type="password" class="input" name="password" placeholder="登录密码" data-validate="required:请填写密码,length#>=5:密码长度不符合要求" />
                            <span class="icon icon-key"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <input type="text" class="input" name="passcode" placeholder="填写右侧的验证码" data-validate="required:请填写右侧的验证码" />
                            <IMG onclick="this.src=this.src+'?'+Math.random()" src="{:U('admin/login/verify')}" width="80" height="32" class="passcode" />
                        </div>
                    </div>
                </div>
                <div class="panel-foot text-center" style="background-color:rgba(255,255,255,0.2)"><button class="button button-block bg-blue text-big">立即登录后台</button></div>
            </div>
            </form>
            <div class="text-right text-small text-gray padding-top" id="changepassword">
                <a class="text-gray text-white" target="_blank" href="http://localhost/index.php/admin/login/changepwd.html">修改密码</a>
                <span class="text-white">|</span>
                <a class="text-gray text-white" target="_blank" href="http://localhost/index.php/admin/login/forgetpwd.html">忘记密码</a>
            </div>
        </div>
    </div>
</div>

</body>
</html>